@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #010101;
  --foreground: #ffffff;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--background);
  color: var(--foreground);
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

@layer base {
  * {
    @apply border-white/10;
  }
}
